@page
@model Crime_Solving1.Pages.Persons.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonTown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonTown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonStreet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonStreet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonHouseNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonHouseNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonalFolder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonalFolder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PAlibi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PAlibi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.GenderP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.GenderP)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Person.PersonId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
