@page
@model Crime_Solving1.Pages.Persons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonTown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonTown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonStreet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonStreet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonHouseNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonHouseNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonalFolder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonalFolder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PAlibi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PAlibi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.GenderP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.GenderP)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.PersonId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
