@page
@model Crime_Solving1.Pages.CrimeEvents.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CrimeEvent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeEvent.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrimeEvent.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeEvent.CrimeTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrimeEvent.CrimeTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeEvent.InForest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrimeEvent.InForest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeEvent.CrimeTown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrimeEvent.CrimeTown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeEvent.CrimeStreet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrimeEvent.CrimeStreet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeEvent.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrimeEvent.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeEvent.Suspect)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrimeEvent.Suspect.SuspectLname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeEvent.Report)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrimeEvent.Report.ReportPlace)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CrimeEvent.EventId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
