@page
@model Crime_Solving1.Pages.Reports.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>דיווחים</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].ReportedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].ReporterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].ReportPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].ReportTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].PastReports)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Report) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReporterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PastReports)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
